<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="SwaggerUI"
    />
    <title>SwaggerUI</title>
    <link rel="stylesheet" href="https://unpkg.com/swagger-ui-dist@4.5.0/swagger-ui.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/prism.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/themes/prism-okaidia.min.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/creativetimofficial/tailwind-starter-kit/compiled-tailwind.min.css"
    />
  </head>
  <body>
  <div id="swagger-ui"></div>
    <div>

<h6 class="text-xl font-semibold">Authentication</h6>
                  <p class="mt-2 mb-4 text-gray-600">
                   install curl and optionaly jq or use things like Postman/ReqBin

<div class="max-w-sm mx-auto mt-24 bg-gray-900 rounded-lg overflow-hidden">

  <div class="p-4">
    <div class="flex items-center justify-between">
      <span class="text-gray-200 text-xl font-bold">Authentication</span>
    </div>
  </div>

  <div class="px-3 py-2">
    <pre class="language-bash"><code class="text-sm">
curl  --location 'https://rsmine.fvds.ru/api/v1/users/sign_in'\
 --header 'Content-Type: application/json' --data-raw '{
    "user": {
        "email": "user@user.com",
        "password": "useruser"
    }
}' --verbose | jq .
                  </code></pre>
  </div>
</div>



                         <script id="asciicast-YBVmtUfDXoprwLbKJgdpS8sPL"  src="https://asciinema.org/a/YBVmtUfDXoprwLbKJgdpS8sPL.js" async>
      </script>
                  </p>

  </div>
  <script src="https://unpkg.com/swagger-ui-dist@4.5.0/swagger-ui-bundle.js" crossorigin></script>
  <script src="https://unpkg.com/swagger-ui-dist@4.5.0/swagger-ui-standalone-preset.js" crossorigin></script>
  <script>
    window.onload = () => {
      window.ui = SwaggerUIBundle({
        url: 'openapi.yaml',
        dom_id: '#swagger-ui',
        presets: [
          SwaggerUIBundle.presets.apis,
          SwaggerUIStandalonePreset
        ],
        layout: "StandaloneLayout",
      });
    };
  </script>
  </body>
</html>
